@import "variables";
@import "fonts";

.blog {
  text-align: center;
  padding-top: 80px;

  &__section-paragraph {
    max-width: 988px;
    margin: 40px auto 80px;
  }

  &__container-fluid {
    max-width: 1600px;
  }
}

.blog-image {
  max-width: 400px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.blog-text {
  max-width: 400px;
  width: 100%;
  max-height: 412px;
  overflow: hidden;
  margin: 0 auto;
  padding: 50px 30px;
  text-align: left;
  background-color: #232325;
  @media (max-width: 400px) {
    max-height: 100%;
  }

  span {
    position: relative;
    color: #e3e3e3;
    font: italic 12px/18px $second-font;

    &::after {
      display: block;
      content: "";
      height: 1px;
      background-color: #565656;
      width: 151px;
      position: absolute;
      top: 25px;
    }
  }

  h6 {
    margin: 30px 0 35px;
    color: #e3e3e3;
    font: 400 13px $primary-font;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  p {
    max-width: 316px;
    color: #949494;
    font: 400 14px/20px $second-font;
    letter-spacing: 1.5px;
  }
}