@import "variables";
@import "fonts";

.looking {
  padding: 35px 0 40px;
  background-color: #2d2d2f;
  text-align: center;

  h4 {
    color: #d8d8d8;
    font: 700 16px/18px $primary-font;
    letter-spacing: 2px;
  }

  p {
    margin-top: 20px;
    color: #888;
    font: italic 16px/20px $second-font;
  }

  &__section-button {
    border: 2px solid #e3e3e3;
    color: #e3e3e3;
    &:hover {
      background-color: $first-text-color;
    }
  }
  .looking-button {
    padding-bottom: 10px;
  }
}