@import "variables";
@import "fonts";

.slider {
  background: #000 url("../img/first-bg.png") center/cover no-repeat;
  min-height: 700px;
  text-align: center;
  padding: 100px 0;
}

.carousel {
  max-height: 470px;
}

.carousel-item {
  text-align: center;
}
.carousel-control-prev, .carousel-control-next {
  cursor: pointer;
}

.carousel-content-wrapper {
  max-width: 516px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;

  .carousel-content-wrapper_item {
    text-align: center;
    @media (max-width: 630px) {
      max-width: 320px;
      margin: 0 auto;
    }

    p {
      color: $first-color;
      font: 400 14px/50px $second-font;
      letter-spacing: 1.4px;
    }

    h1 {
      margin: 35px 0;
      color: $first-color;
      font: 400 36px $third-font;
      letter-spacing: 1px;
    }

    .wave {
      max-width: 516px;
      width: 100%;
      height: 5px;
      background: url("../img/wave-white.png") top;
    }

    /*.wave:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 10px;
      background-size: 20px 10px;
      background-image: radial-gradient(circle at 10px -5px, #fff 12px, transparent 12px);
    }
    .wave:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      right: 0;
      height: 10px;
      background-size: 20px 10px;
      background-image: radial-gradient(circle at 10px -5px, transparent 12px, #fff 12px);
    }*/
  }
}

.control-icon-size {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  color: #000;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 150px;
  height: 45px;
  margin-top: 45px;
  position: relative;
  border: 2px solid #f2f2f2;
  background-color: transparent;
  color: $first-color;
  font: 700 15px/40px $primary-font;
  letter-spacing: 1.5px;
  cursor: pointer;
  text-transform: capitalize;
  outline: none;

  &:hover {
    background-color: $menu-color;
    color: $first-text-color;
    border: 2px solid $first-text-color;
  }

  .Arrow {
    position: absolute;
    bottom: -45px;
    left: 65px;
  }
}
.blog-slider {
  padding: 110px 0;
  min-height: auto;
  background: url("../img/blog-bg.png") center/cover no-repeat;
  .way {
    margin-top: 30px;
    margin-bottom: 0;
  }
  .blog-wave {
    width: 60%!important;
    margin: 0 auto;
  }
  .carousel-content-wrapper {
    padding: 0;
  }
}